<h1 class="title">{{ title }} app is running!</h1>
<p> Angular Continuous Delivery / Deployment with gitlab-ci, stage on commit and prod on git-tag</p>
<a href="https://medium.com/letsboot/angular-continuous-delivery-deployment-with-gitlab-ci-stage-on-commit-and-prod-on-git-tag-151ce3c74619"
  target="blank">
  https://medium.com/letsboot/angular-continuous-delivery-deployment-with-gitlab-ci-stage-on-commit-and-prod-on-git-tag-151ce3c74619</a>

<p>Angular End to End Testing </p>
<a href="https://medium.com/letsboot/angular-end-to-end-testing-c3b9950fdd41" target="blank">
  https://medium.com/letsboot/angular-end-to-end-testing-c3b9950fdd41</a>



<br />
<p>Angular and testing: angular/cli + gitlab-ci + ng test + PhantomJS + TDD.</p>
<a href="https://medium.com/letsboot/angular-4-and-testing-angular-cli-gitlab-ci-ng-test-phantomjs-tdd-afc20f50b928"
  target="blank">
  https://medium.com/letsboot/angular-4-and-testing-angular-cli-gitlab-ci-ng-test-phantomjs-tdd-afc20f50b928</a>

<br />
<p>Preview your website with Gitlab CI and Surge</p>

<a href="https://medium.com/jubianchi-fr/preview-your-website-with-gitlab-ci-and-surge-5b861d7c9a3a"
  target="blank">https://medium.com/jubianchi-fr/preview-your-website-with-gitlab-ci-and-surge-5b861d7c9a3a</a>

<br />

<h1>With staging and prod build</h1>
<p>Stage build: all for commits</p>
<p>Proad build: commits with tag</p>
<br/>

<h1>Integrate Sonar qube cloud</h1>
<a href="https://sonarcloud.io/project/configuration?analysisMode=GitLabPipeline&id=ravitejagGitLab_angulartdd">
  https://sonarcloud.io/project/configuration?analysisMode=GitLabPipeline&id=ravitejagGitLab_angulartdd
</a>

<br/>

Test code with failure test case
<hr />

<br />

<div class="container">
  <h1>{{count}}</h1>

  <button (click)="plus()" class="plus">+</button>
  <button (click)="reset()" class="reset">Reset</button>
</div>
